html,body {
	height: 100%;
}
.navbar {
      margin-bottom: 0;
      border-radius: 0;
}
.row.content {height: 100%;}
.sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
}
footer {
      background-color: #222222;
      color: white;
      padding: 15px;
}
    
@media screen and (max-width: 767px) {
	.row.content {height: 100%;}
}
.jumbotron {
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/69/Grapevinesnail_01.jpg");
	background-position: center;
	text-align: center;
	color: green;
}
