.title {
  color: #07690F;
  background-color: lightgrey;
  border:solid 5px;
  border-color: black;
  max-width: auto;
  margin: auto;
  text-align: left;
}
.cbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.cbar li {
  border-right: solid 2px;
  display: inline;
  width: 100px;
  padding-left: auto;
  padding-right: 0px;
}
li a:hover {
  color: lightgreen;
  background-color: darkgrey;
}
a {
  color:#07690F;
}
.cartitle {
  background-image:url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQxCk2Rpyfly-WeMW90zcj0hXJnkeKOMMUeivNTHAm3zupvqhAv');
  background-repeat:repeat;
  background-position: center;
  color: #FFF;
	font-family: 'Garamond','Trebuchet MS', 'Helvetica';
}
.carlbar {
  background-image:url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQxCk2Rpyfly-WeMW90zcj0hXJnkeKOMMUeivNTHAm3zupvqhAv');
  background-repeat:repeat;
  background-position: center;
  color: #FFF;
	font-family: 'Garamond','Trebuchet MS', 'Helvetica';
  background-size:cover;
  margin-bottom: 10px;
}
body {
  background-color:#6EAC96;
}
.lbar {
  background-color:lightgrey;
  border:solid 5px;
  padding:15px;
  width:175px;
  margin-bottom: 10px;
  margin-top: 20px;
}
