h1{
  color:#07690F;
  background-color:#FFFFFF;
  border-style:solid;
  border-color:black;
  border-radius: 10px;
  padding:15px;
  width:13%;
  margin:auto;
}
a{
  color:blue;
}
body{
  background-color:#07690F;
}
#images{
  border-style:dashed;
  height:200px;
  width:20%;
  border-radius:100px;
  background-repeat: no-repeat;
}
#lbar{
  background-color:#FFFFFF;
  border-style:solid;
  border-radius: 10px;
  padding:15px;
  width:175px;
  z-index:1;
}
