h1 {
  color:#07690F;
  background-color:#FFFFFF;
  border-style:solid;
  border-color:black;
  border-radius: 10px;
  padding:15px;
  width:50%;
  margin:auto;
}
a{
  color:blue;
}
#carmenbody {
  /* http://r.ddmcdn.com/s_f/o_1/cx_633/cy_0/cw_1725/ch_1725/w_720/APL/uploads/2014/11/too-cute-doggone-it-video-playlist.jpg
  https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQxCk2Rpyfly-WeMW90zcj0hXJnkeKOMMUeivNTHAm3zupvqhAv */
  background-image:url('http://r.ddmcdn.com/s_f/o_1/cx_633/cy_0/cw_1725/ch_1725/w_720/APL/uploads/2014/11/too-cute-doggone-it-video-playlist.jpg');
  background-repeat:no-repeat;
  background-position: center top;
	background-size: cover;
	padding: 250px 0;
	margin: 30px;
	text-shadow: 0 2px #000000;
	font-family: 'Trebuchet MS', 'Helvetica';
}
body {
  background-color:#07690F;
}
#lbar {
  background-color:#FFFFFF;
  border:solid 5px;
  padding:15px;
  width:175px;
  z-index:1;
  float:left;
}
