.navbar {
      margin-bottom: 0;
      border-radius: 0;
}
.row.content {height: 690px;}
.sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
}
footer {
      background-color: #222222;
      color: white;
      padding: 15px;
}
    
@media screen and (max-width: 767px) {
	.row.content {height: auto;}
}
